@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');
@import "tailwindcss";

:root {
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply text-zinc-50 antialiased;
}

.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.nav-item {
  @apply px-4 py-1.5 rounded-full text-white/70 text-base transition duration-150 ease-in-out hover:text-neutral-100;
}

@layer components {
  .link-style {
    @apply text-white/70 transition duration-150 ease-in-out hover:text-neutral-100;
  }
}

